*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-div{
    width: 990px;
}
.main-content{
    min-height: 250px;
    border : 1px solid rgb(223, 49, 5);
    border-radius: 30px;
    transition: ease 0.4s;
    overflow: hidden;
}
.main-content:hover{
    border: white;
    box-shadow: 2px 0px 15px 4px grey;;
}
.main-content h1 img{
    width: 25%;
}
form div .submit-button{
    background-color: grey;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    transition: ease 0.4s;
    box-shadow: none;
    border: none;
    padding:3px 12px;
}
form div .submit-button:hover{
    background-color: rgb(0, 113, 241);
}
.filter .form-control{
    width: 18%;
}
.table-div{
    max-height: 400px;
    overflow-y:scroll ;
}
@media(max-width : 576px)
{
   .main-content .table-div{
   overflow-x: scroll;
   }
   .main-div{
    padding-top: 20px;
}
}
@media(max-width : 1090px)
{
   .main-content .table-div{
   overflow-x: scroll;
   }
}